<section>
  <h2>Training - Design patterns & software architecture</h2>
  <p class="m-4">
    <ng-container>
      <div class="mb-4" style="text-align: justify;">
        Petite introduction à quelques design patterns et concepts logiciels pouvant vous permettre de vous démarquer en entreprise. La majorité de ce contenu est basé sur les principes d'Uncle bob. Ceux-ci seront brièvement discutés en introduction. Une démo fonctionnelle vous est également offerte.
      </div>
      <div class="mb-2">
        Pour plus d'information : <a href="http://cleancoder.com/products" target="_blank" style="font-weight: 500;">Liens vers Uncle bob</a>
      </div>
      <div>
        <mat-card class="mb-2 mat-elevation-z8">
          <mat-card-header>
            <mat-card-title>Introduction</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li>Clean code</li>
              <li>Clean architecture</li>
              <li>SOLID</li>
              <li>TDD</li>
            </ul>
          </mat-card-content>
        </mat-card>

        <mat-card class="mb-2 mat-elevation-z8">
          <mat-card-header>
            <mat-card-title>Software architecture</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li>Pattern: Saga [Choreography | Orchestration]</li>
              <li>Migration & DataSeeding</li>
              <li>Proxy</li>
            </ul>
          </mat-card-content>
        </mat-card>

        <mat-card class="mb-2 mat-elevation-z8">
          <mat-card-header>
            <mat-card-title>Design patterns</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li>AAA</li>
              <li>State pattern</li>
              <li>Template Composite</li>
              <li>Mediator</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </p>
  <div class="mt-5">
    Formation presentée par : <div><h2 style="font-weight: bold;">Danny Toutant</h2></div>
  </div>
</section>